.Icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: -2px 0 0 0;
  vertical-align: middle;
  overflow: hidden;
}
.Icon.left {
  margin-right: 5px;
}

.Icon.right {
  margin-left: 5px;
}

.Icon.plus {
  background: white;
}
