.Header-title {
  font-size: 150%;
  margin: 10px 0;
}

.Header-logo {
  transform-origin: 50% 90%;
  animation: Header-logo-spin infinite 4s ease-in-out;
  height: 110px;
}

.Header-root {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.Header-link {
  background: #111;
  color: #18A87A;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
}
.Header-link:hover {
  background: #171717;
  color: #08CC8E;
}

@keyframes Header-logo-spin {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}
