.Home {
  text-align: center;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro p {
  font-size: large;
}

.Home-input {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #EEE;
  text-align: center;
  font-family: monospace;
}
