body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, pre {
  font-family: monospace;
  margin: 10px 10px;
  padding: 10px;
  background: #EEE;
  border-radius: 7px;
  overflow: hidden;
  line-height: 180%;
}

.Page > div {
  margin: 30px;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  margin: 20px 0;
}

h2 {
  font-size: 150%;
  font-weight: bold;
  margin: 20px 0;
}

h1 > span, h2 > span {
  display: inline-block;
  margin-right: 20px;
}

h3 {
  font-size: 120%;
  font-weight: bold;
  margin: 20px 0;
}

.button, .notice {
  display: inline-block;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  margin: -1px 0 -2px 0;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  border: 0;
  cursor: default;
  line-height: 100%;
}

.button:active {
  padding: 7px 6px 5px 6px;
}

.default {
  background: #88A;
  color: white;
}

.default:hover {
  background: #99B;
  color: white;
}

.positive {
  background: #7A6;
  color: white;
}

.positive:hover {
  background: #8B7;
  color: white;
}

.warning {
  color: #333;
  background: #FEB;
  border: 1px solid #ED9;
  padding: 5px;
}

.disabled {
  background: #888;
  color: white;
}

.disabled:active {
  padding: 6px;
}

.ButtonContainer {
  text-align: right;
}

.ButtonContainer > .button {
  margin: 0 0 0 8px;
}
